  .wrapper {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 80%;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
  }
  
  .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    margin-top: 0.25em;
  }
  .headFix {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    padding-top: 5px;
    width: 100%;
    background: #fff;
  }
  
  .error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
  }